                                    <div class="card mb-3">
                                        <div class="card-header">
                                            <div data-toggle="collapse" data-parent="#accordion" href="#collapse-{contract_id}" aria-expanded="true">
                                                <div class="row">
                                                    <div class="col-sm-8 hover-trigger">
                                                        <span class="h3">{title}</span>
                                                        <div>
                                                            {categories}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 text-right hover-hidden">
                                                        <span class="h3"></span>
                                                        <span class="align-bottom">
                                                            <span>~ &euro; {cash}</span>
                                                            <span class="ml-1">{awareness} <i class="fas fa-eye"></i></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="collapse-{contract_id}" class="collapse show" data-parent="#accordion">
                                            <div class="card-body">
                                                <p>{description}</p>
                                                <div>
{tasks}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
