                                <div class="contract container float-left" contract_title="{title}" contract_id="{contract_id}">
                                    <div class="card mb-3">
                                        <div class="card-header">
                                            <b>{title}</b>
                                            <div>
                                                {values}
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="smaller">{description}</p>
                                            <p>
                                                {categories}
                                            </p>
                                            <form method="post">
                                                <input name="token" value="" type="hidden">
                                                <input name="contract_id" value="{contract_id}" type="hidden">
                                                <button type="submit" class="btn btn-success">Take contract</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
