                                <div class="alert alert-{category} alert-dismissible notification border" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" title="Hide" aria-label="Hide" onclick="hideNotification({notification_id})">
                                        <span aria-hidden="true"><i class='far fa-eye-slash ml-1 mb-1' style='font-size: 13px; line-height: 24px; vertical-align: middle; height: 100%'></i></span>
                                    </button>
                                    <span style="line-height: 24px">{content}</span>
                                    <div class="time"><i class="far fa-bell"></i><span class="ml-1" ts="{time}"></span></div>
                                </div>
