                                <div id="team_editor" class="card mb-3">
                                    <div class="card-header">
                                        <span><input name='team_id' value='{team_id}' type='hidden'><input name='login_name' value='{login_name}' class='form-control' style='display: block'><label class='info-label'>Login name</label></span>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <input name="full_name" value="{full_name}" class="form-control" style="display: block">
                                            <label class="info-label">Full name</label>
                                        </div>
                                        <div>
                                            <select name="country" class="country form-control" style="display: block"></select><label class="info-label">Country</label>
                                            <div class="input-group-append"></div>
                                        </div>
                                        <div>
                                            <input name="email" value="{email}" autocomplete="off" class="form-control" style="display: block"><label class="info-label">Email</label>
                                            <div class="input-group-append"></div>
                                        </div>
                                        <div>
                                            <input name="password" type="password" value="" placeholder="(change here)" autocomplete="new-password" class="form-control" style="display: block"><label class="info-label">Password</label>
                                            <div class="input-group-append"></div>
                                        </div>
                                        <div>
                                            <input name="password2" type="password" value="" placeholder="(re-enter here)" autocomplete="new-password" class="form-control" style="display: block"><label class="info-label">Re-enter password</label>
                                            <div class="input-group-append"></div>
                                        </div>

                                        <div style='margin-top: 5px; border: 1px solid rgba(0,0,0,.125); width: 100%; padding: 5px'>
                                            <input name="endtime" value="{endtime}" class="form-control datetime" style="display: block"><label class="info-label">End time (override)</label>
                                            <div class='custom-control custom-checkbox'>
                                                <input type='checkbox' class='custom-control-input options-checkbox checkbox-success' id='guest_checkbox'{guest_checked}><label class='custom-control-label' for='guest_checkbox'>Guest team</label>
                                            </div>
                                        </div>
                                        <label class="info-label">Team options</label>

                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary">{action}</button>
                                        <button class="btn btn-secondary" data-dismiss="modal" onclick="reload()">Cancel</button>
                                    </div>
                                </div>
